{{ define "body_content" }}
<div class="row justify-content-center lg-row">
  <div class="col-11">
    <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Manage</h3>
    <div id="card-{{.id}}" class="card">
      <div id="article-box" class="card-body">
        Choose the collection you would like to manage.
      </div>
    </div>
  </div>
</div>
{{ end }}